<div>
  <h2 class="ui header">კლიენტის ძებნა</h2>

  <div class="ui segment">

    <div class="ui grid">
      <div class="input-container">
        <label>სახელი</label>
        <input name="name" type="text" [(ngModel)]="filter.name">
      </div>
      <div class="input-container">
        <label>გვარი</label>
        <input name="surname" type="text" [(ngModel)]="filter.surname">
      </div>
      <div class="input-container">
        <label>კლიენტის უნიკალური</label>
        <input name="clientKey" type="text" [(ngModel)]="filter.clientKey">
      </div>
      <button (click)="search()">search</button>
    </div>

    <div class="ui grid" style="margin-top: 50px">
      <div class="ui grid" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
        <h4 class="ui header">კლიენტები</h4>

        <button class="ui basic button" style="font-size: 14px; padding: 7px 12px;" (click)="addClient()">
          <i class="icon user"></i>
          Add Client
        </button>
      </div>
      <table class="ui celled table">
        <thead>
        <tr>
          <th>სახელი</th>
          <th>გვარი</th>
          <th>კლიენტის უნიკალური</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clientsToShow" (click)="selectUser(client)">
          <td >{{ client.name }}</td>
          <td>{{ client.surname }}</td>
          <td>{{ client.clientKey }}</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
