.login-background {
  background-image: url('/assets/11.jpg'); /* Update the path to your image */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
}


